################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Atla.Lang/bin
/Atla.Lang/obj
*.bkp
/packages
/Test/bin
/Test/obj
/.vs
